/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .clockwise-container
{
    padding: 25px 15px 15px 15px;
    background: #712448;
    color: white !important;
}

.clockwise-h2
{
    text-transform: uppercase;
    text-align: center;
    color: white !important;
    font-size: 25px !important;
}

.clockwise-h3
{
    text-align: center;
    font-size: 16px !important;
    color: white !important
}

.clockwise-waitbox
{
	display:inline; 
	background: #510429; 
	text-transform: uppercase; 
	text-align: center; 
	padding: 8px 8px 5px 8px; 
	color: white; 
	border-radius: 5px
}

.clockwise-patients-ul 
{
	font-size:15px;
	line-height:25.5px;
}

.clockwise-patients-li {
	margin-left:5px;
}

.clockwise-patients-bold {
	display:inline; 
	font-weight: bold
}